@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  background-color: #0a0a0a;
  margin: 0;
  overflow: hidden;
  /* Prevent scroll */
  overscroll-behavior: none;
  /* Prevent swipe navigation on Mac/iOS */
}

/* Custom Visual Animations */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes drift {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-drift {
  animation: drift 10s ease-in-out infinite;
}

/* Utility for gradient text */
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}